@inherits LayoutComponentBase

    <FlexLine Direction="Direction.Column" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center">

        <FlexItem Style="font-size: 5em">
            Flexor
        </FlexItem>

        <FlexItem>
            <p>By <strong> <a href="https://github.com/DerekChasse" target="_blank" class="">Derek Chasse</a></strong></p>
        </FlexItem>

        <TopNavBar></TopNavBar>

        <FlexItem Resizable="Resizable.Fill" AlignSelf="AlignSelf.Stretch" Class="m-3">
            @Body
        </FlexItem>




    </FlexLine>

    
