@inherits LayoutComponentBase

<div class="flex-column justify-content-start align-items-stretch">
    
    <div class="text-center" style="font-size: 5em">
        Flexor
    </div>

    <TopNavBar></TopNavBar>

    <div class="flex-fill m-3">
        @Body

    </div>

</div>
