@layout MainLayout

@inherits LayoutComponentBase

<div class="flex-column justify-content-start align-items-stretch">
    <div class="">
        <div class="flex-row justify-content-center">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/responsive-direction">Direction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static-self-alignment">SelfAlignment</a>
                </li>
            </ul>

        </div>
    </div>


</div>

<div class="m-3">
    @Body
</div>

@functions {
}
