@layout MainLayout

@inherits LayoutComponentBase

<FlexLine Direction="Direction.Column" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Stretch" Class="w-100">
    <FlexItem AlignSelf="AlignSelf.Center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/responsive-direction">Direction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/responsive-size">Size</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/responsive-multiple-columns">Multiple Columns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/responsive-order">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/responsive-visibility">Visibility</a>
            </li>
        </ul>
    </FlexItem>
    <FlexItem Class="m-3">
        @Body
    </FlexItem>
</FlexLine>

@functions {
}
