@layout MainLayout

@inherits LayoutComponentBase

<div class="flex-column justify-content-start align-items-stretch">
    <div class="">
        <div class="flex-row justify-content-center">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/static-item-alignment">Item Alignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static-self-alignment">Self Alignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static-fill">Fill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static-wrap">Wrap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static-resizability">Sizing</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-3">
    @Body
</div>

@functions {
}
