<ul class="nav justify-content-center nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/">Static</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Responsive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
    </li>
</ul>


@functions {
}
