@layout ResponsiveLayout

@page "/responsive-visibility"

<DisplayBox HeaderMessage=@this.headerMessage>
    <FlexLine Class="colored h-100 w-100">
        <FlexItem Visible="Visible.Only.OnTabletAndLarger()" Size="Size.IsPercent(20).OnAll()" Class="align-items-center justify-content-center">
            Tablets and larger
        </FlexItem>

        <FlexItem Visible="Visible.Only.OnWidescreenAndSmaller()" Size="Size.IsPercent(20).OnAll()" Class="align-items-center justify-content-center">
            Widescreen and smaller
        </FlexItem>

        <FlexItem Visible="Visible.Only.OnFullHD()" Size="Size.IsPercent(20).OnAll()" Class="align-items-center justify-content-center">
            FullHD
        </FlexItem>

        <FlexItem Visible="Visible.When(ConditionMet)" Size="Size.IsPercent(20).OnAll()" Class="align-items-center justify-content-center">
            Conditionally
        </FlexItem>

        <FlexItem Visible="Visible.Always" Resizability="Resizability.Fill" Class="align-items-center justify-content-center">
            Always
        </FlexItem>

    </FlexLine>
</DisplayBox>

<DisplayBox ContentMinHeight="80">
    <FlexLine Direction="Direction.Column" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" bind="@ConditionMet" id="conditionCheck" />
            <label class="form-check-label" for="conditionCheck">
                Conditionally
            </label>
        </div>
    </FlexLine>
</DisplayBox>

@functions {

    private bool ConditionMet { get; set; } = false;

    MarkupString headerMessage = new MarkupString("Items with responsive <strong>Visibility</strong> configurations. ");
}
