@layout StaticLayout

@page "/static-wrap"


    <FlexLine Direction="Direction.Column" Class="w-100">

        <FlexLine JustifyContent="JustifyContent.Center" Class="mb-5">
            <h4>Using <strong>Wrap</strong> to wrap positioned items within a layout container.</h4>
        </FlexLine>
        <FlexLine Wrap="Wrap.CanWrap" Class="boxes colored uniform card">
            <FlexItem Size="Size.IsPercent(30)">
                30
            </FlexItem>
            <FlexItem Size="Size.IsPercent(45)">
                45
            </FlexItem>
            <FlexItem Size="Size.IsPercent(19)">
                19
            </FlexItem>
            <FlexItem Size="Size.IsPercent(33)">
                33
            </FlexItem>
            <FlexItem Size="Size.IsPercent(67)">
                67
            </FlexItem>
            <FlexItem Size="Size.IsPercent(50)">
                50
            </FlexItem>
            <FlexItem Resizable="Resizable.Fill">
                Fill
            </FlexItem>
        </FlexLine>

        <FlexItem AlignSelf="AlignSelf.Center" Class="mt-5">
            <CodeBox Value="@this.value" Height="500" Width="700"></CodeBox>
        </FlexItem>
    </FlexLine>

@functions {

    private string value = 
@"
<FlexLine Wrap=""Wrap.CanWrap"">
    <FlexItem Size=""Size.IsPercent(30)"">30</FlexItem>
    <FlexItem Size=""Size.IsPercent(45)"">45</FlexItem>
    <FlexItem Size=""Size.IsPercent(19)"">19</FlexItem>
    <FlexItem Size=""Size.IsPercent(33)"">33</FlexItem>
    <FlexItem Size=""Size.IsPercent(67)"">67</FlexItem>
    <FlexItem Size=""Size.IsPercent(50)"">50</FlexItem>
    <FlexItem Resizable=""Resizable.Fill"">Fill</FlexItem>
</FlexLine>
";


}
